@import '../../styles/varibles.styles.scss';

.item-detail-container {
  // @include cardBorders;
  // min-width: 60%;
  // min-height: 60vh;
  // width: 33%;
  width: 100%;
  height: 100%;
  margin: 0 1rem 0 2rem;
  padding: 1em 1em;
  border-left: 2px solid $brandYellow;
  background-color: bisque;
  // .section-title {
  //   @include labelTitle;
  // }
  .item-detail-sub-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    .row-1-item-detail{
      display: flex;
      justify-content: space-between;
      .col-1-item-detail {
        display: flex;
        // flex-flow: start;
        // justify-content: space-between;
        // align-items: center;
        width: 50%;
        height: 100%;
        margin: 0 1rem 0 0;
        // background-color: rgb(127, 255, 255);
        h1 {
          margin: 0rem 0 2rem 0;
          font-size: 3rem;
          font-family: $fontText;
          font-weight: 800;
          color: $brandOrange;
        }
      }
      .col-2-item-detail{
        width: 50%;
        .item-photo{
          width: 100%;
          // height: 100px;
          background-color: beige;
          margin: 2rem auto 3rem auto;
          padding:0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .image-upload-icon{
            // width: 100%;
            // height: 30%;
          }
        }
      }
    }
    .row-2-item-detail{
      .col-1-item-detail{
        label{
          @include formLabelStyles;
          margin: 0 0 1rem 0;
          padding: 0;
          color:  $brandOrange;
        }
        textarea {
          @include formInputStyles;
          word-wrap: break-word;
          word-break: break-all;
          padding-bottom: 0;
          height: 8rem;
          font-family: $fontText;
          overflow: scroll;
          resize: none;
          margin: 0 0 2rem 0;
        }
        input[type=number]{
          @include formInputStyles;
          margin: 0 0 1.5rem 0;
        }
      }
      .col-2-item-detail {
        display: flex;
        flex-direction: column;
        // align-content: space-between;
        width: 50%;
        // height: 100%;
        // background-color: rgb(96, 192, 192);
        // button {
        //   @include category-btn;
        // }
        h3 {
          color: $brandOrange;
          margin: 0 0 1rem 0;
        }
        .check-box-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .checkbox-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input[type=checkbox]{
              margin: 0 1rem .5rem 0;
            }
            label {
              margin: 0 1rem .5rem 0;
              color: $brandOrange;
            }
          }
        }
        input[type=submit] {
          @include category-btn;
          width: 80%;
          margin: 1rem auto 2rem auto;
          padding: .5em 1em;
        }
      }
    }
  }
}
  
