@import '../../styles/varibles.styles.scss';

.item-detail-container {
  width: 100%;
  margin: 0 1rem 0 2rem;
  padding: 1em 1em;
  border-left: 2px solid $brandYellow;
  .section-title {
    @include labelTitle;
  }
  .item-detail-sub-container{
    width: 100%;
    margin: 0 0 0 2rem;
    padding: 0;
  
    .row-1-item-detail{
      display: flex;
      // height: 30%;
      margin-bottom: 2rem;
      .col-top-left-item-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        h1 {
          font-size: 3.5rem;
          font-family: $fontText;
          font-weight: 800;
          color: $brandOrange;
        }
      }
      .col-top-right-item-detail{
        width: 50%;
        display: flex;
        justify-content: center;
        .item-photo{
          background-color: $brandYellowTrans;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          //TODO fix this conditional class
          .image-upload-icon{
              width: 100%;
              // height: 30%;
              
            }
            .image-upload-file {
              
              width: 100%;
              // height: 100%;
            
          }
        }
      }
    }
    .row-2-item-detail{
      width: 100%;
      display: flex;
      .col-bottom-left-item-detail{
        width: 50%;
        display: flex;
        flex-direction: column;
        label{
          @include formLabelStyles;
          margin: 0 0 1rem 0;
          padding: 0;
          color:  $brandOrange;
        }
        textarea {
          @include formInputStyles;
          word-wrap: break-word;
          word-break: break-all;
          padding-bottom: 0;
          height: 8rem;
          font-family: $fontText;
          overflow: scroll;
          resize: none;
          margin: 0 1rem 1rem 0;
        }
        input[type=number]{
          @include formInputStyles;
          margin: 0 1rem 1.5rem 0;
        }
      }
      .col-bottom-right-item-detail {
        width: 50%;
        display: flex;
        flex-direction: column;
        h3 {
          color: $brandOrange;
          margin: 0 0 1rem 1rem;
        }
        .check-box-container {
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 0 1rem;
          .checkbox-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input[type=checkbox]{
              margin: 0 1rem .5rem 0;
            }
            label {
              margin: 0 1rem .5rem 0;
              color: $brandOrange;
            }
          }
        }
        input[type=submit] {
          @include category-btn;
          width: 80%;
          margin: 1rem auto 2rem auto;
          padding: .5em 1em;
        }
      }
    }
  }
}
  
