@import '../../styles/varibles.styles.scss';

.category-card {
  background-color: $brandYellow;
  padding: .5em 2em;
  margin: .5rem 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  border: 3px solid $brandYellow;
  transition: 
    background-color 250ms ease-in-out,
    border 250ms ease-in-out;

  &:hover{
    cursor: pointer;
    background-color: $brandOrangeTrans;
    border: 3px solid $brandOrange;
  }
}

.border-select {
  border: 3px solid $brandOrange;
}