@import '../../styles/varibles.styles.scss';

.category-card {
  display: flex;
  align-items: center;
  background-color: $brandYellow;
  padding: .5em 2em;
  margin: .5rem 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: $fontLogo;
  color: white;
  border: 3px solid $brandYellow;
  transition: 
    background-color 250ms ease-in-out,
    border 250ms ease-in-out;

  &:hover{
    cursor: pointer;
    background-color: $brandOrangeTrans;
    border: 3px solid $brandOrange;
  }
}

.border-select {
  border: 10px solid $brandOrange;
  box-shadow: 0 0 10px 0 rgb(148, 85, 2);
}