@import '../../styles/varibles.styles.scss';

.category-container {
  margin: 0 01rem 0 2rem;
  .local-title{
    h1,
    p {
      margin: 0 0 .5rem 0;
      color: $brandOrange;
    }
  } 
  label {
    @include formLabelStyles;
    margin-bottom: 1.5rem;
    color: $brandOrange;
  }
  .category-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    input[type=text]{
      @include formInputStyles;
      padding: 0 0 0 1em;
      border-radius: 0 $inputBorderRad $inputBorderRad 0;
      margin: .5rem 0;
      width: 80%
    }
    input[type=submit]{
      @include hero-btn;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 20%;
      text-align: center;
      margin: .5rem 0;
      border-radius: $inputBorderRad 0 0 $inputBorderRad;
    }
  }
}