$brandOrange: #ff6000ff;
$brandYellow: #ffb600ff;

$brandOrangeTrans: rgba(255, 98, 0, 0.5);
$brandYellowTrans: rgba(255, 183, 0, 0.5);

$loginIconSize: 40px 40px;

$navShadow: 0 0 13px 0 rgb(209, 155, 5);
$darkShadow: 0 0 13px 0 rgb(185, 174, 142);

$navTextColor: white;


//input boxes
$inputBorderRad: 8px;



// Raleway:wght@200;400;600
// font-family: 'Raleway', sans-serif;
// Rubik:wght@500;900
// font-family: 'Rubik', sans-serif;
$fontLogo: 'Rubik', sans-serif;
$fontText: 'Raleway', sans-serif;


//centering
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hero-btn {
  width: 50%;
  padding: .5em 1em .5em 1em;
  margin: 2rem;
  border-radius: 12px ;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid transparent;
  color: white;
  background-image: linear-gradient($brandOrange, $brandYellow);
  cursor: pointer;
  transition: 
    color 200ms linear, 
    background-color 200ms ease-in-out, 
    border 200ms ease-in-out,
    transform 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
  &:hover {
    color: $brandOrange;
    background: white;
    border: 1px solid $brandOrange;
    transform: scale(1.05);
    box-shadow: $darkShadow;
  }
}

@mixin cardBorders {
  border: 2px solid $brandYellow;
  border-radius: $inputBorderRad;
  box-shadow: $darkShadow;
  animation: appear 300ms ease-in-out 1 normal;
}

@mixin formInputStyles {
  padding: 1em 2em;
  font-size: 1rem;
  margin-bottom: .5rem;
  border-radius: $inputBorderRad;
  border: 1px solid $brandYellow;
}

@mixin formLabelStyles {
  font-weight: 600;
  padding: 1em 2em;
  font-size: 1rem;
  margin-bottom: .5rem;
}

@mixin category-btn {
  width: 50%;
  padding: .5em 1em .5em 1em;
  margin: 2rem;
  border-radius: 12px ;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid transparent;
  color: white;
  background-image: linear-gradient($brandOrange, $brandYellow);
  cursor: pointer;
  transition: 
    color 200ms linear, 
    background-color 200ms ease-in-out, 
    border 200ms ease-in-out,
    transform 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
  &:hover {
    color: $brandOrange;
    background: white;
    border: 1px solid $brandOrange;
    transform: scale(1.05);
    box-shadow: $darkShadow;
  }
}