@import './styles/varibles.styles.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: $fontText;
}

a {
  text-decoration: none;
}
