@import './styles/varibles.styles.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: $fontText;
  // background: 
  // linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)),
  // url('./assets/BG_imgs/emy-XoByiBymX20-unsplash.jpg');
  // background-position: left;
  // background-size: cover;
  // background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
